.simply-signups-form .table-responsive {
  overflow-x: unset;
}
.simply-signups-form .form-type-tel label,
.simply-signups-form .form-type-select label,
.simply-signups-form .form-type-number label {
  display: block;
}
.simply-signups-form .form-control {
  width: auto;
  display: block;
}
.simply-signups-form label {
  display: block;
}
.simply-signups-form .select-wrapper {
  width: auto;
}
.simply-signups-action-info {
  text-align: right;
}
.simply-signups-form .help-block,
.simply-signups-form .description {
  color: #818181;
}
.simply-signups-form .webform-type-radios legend,
.simply-signups-form .webform-type-checkboxes legend {
  color: #414141;
}
.modal-buttons .btn,
.modal-buttons .button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.3;
  border-radius: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.modal-buttons .btn:focus,
.modal-buttons .btn:hover,
.modal-buttons .button:focus,
.modal-buttons .button:hover {
  color: #a0a0a0;
  background-color: #fff;
  border-color: #a0a0a0;
}
.modal-buttons .btn.button--primary,
.modal-buttons .button.button--primary {
  color: #fff;
  background-color: #00529b;
  border-color: #004582;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-buttons .btn:hover.button--primary,
.modal-buttons .btn:focus.button--primary,
.modal-buttons .button:hover.button--primary,
.modal-buttons .button:focus.button--primary {
  color: #00529b;
  background-color: #fff;
  border-color: #004582;
}
